.main {
  height: 100vh;
  background-color: rgb(231, 231, 231);
}

.grid {
  max-width: 100%;
  margin: 50px 0 60px 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
}
